{
  "backend_servers": [{
    "title": "Psono Backend",
    "url": "{{ psono_backend_url }}",
    "domain": "{{ psono_domain }}"
  }],
  "base_url": "https://{{ psono_hostname }}/",
  "allow_custom_server": true,
  "allow_registration": false,
  "allow_lost_password": true,
  "disable_download_bar": false,
  "authentication_methods": ["AUTHKEY"],
  "saml_provider": []
}
