vault_psono_postgres_password: ""

vault_psono_secret_key: ""
vault_psono_activation_link_secret: ""
vault_psono_db_secret: ""
vault_psono_email_secret_salt: ""
vault_psono_private_key: ""
vault_psono_public_key: ""

vault_psono_email_host_password : ""
vault_ansible_vault_password: ""

vault_psono_admin_bootstrap_password: ""
vault_psono_ftp_backup_password: ""